{% extends 'base.html' %}
{% load i18n static %}
{% load tailwind_filters %}
{% block content %}
{% if validlink %}

<div class="max-w-lg mx-auto my-8">
    <div class="text-lg text-center mb-3"><p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p></div>
    <form method="post" class=" p-6 border-2 rounded-lg">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit"
            class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" value="{% translate 'Change my password' %}"></button>
    </form>
</div>

{% else %}
<div class="text-lg text-center mt-3">
<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>
{% endif %}
{% endblock content %}